/*
    File: java-keywords.css
    Names: Erik Cohen, Matt Cerrato, Andy Xu
    Class: CS 361
    Created for Project 4 on February 28
*/

/* Set style for keywords highlight, given in RichTextFX */

.keyword {
    -fx-fill: purple;
    -fx-font-weight: bold;
}
.semicolon {
    -fx-font-weight: bold;
}

/* parentheses, brackets, braces are all colored the same teal color */
.paren {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.bracket {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}

.string {
    -fx-fill: blue;
}

.comment {
	-fx-fill: cadetblue;
}

/* even though this is highlighted as an error, it works as intended
   the line with the cursor is highlighted in light blue
 */
.paragraph-box:has-caret {
    -fx-background-color: #f2f9fc;
}

/* integer constants are colored in firebrick */
.integer {
    -fx-fill: firebrick;
}
