/*
    File: Main.css
    Names: Caleb Bitting, Andy Xu, Jasper Loverude
    Class: CS 361
    Project 5
    Date: March 7
*/


/* Set color for each of the three buttons */
#compileButton {
    -fx-background-color: lightblue;
}

#compileRunButton {
    -fx-background-color: palegreen;
}

#stopButton {
    -fx-background-color: lightcoral;
}

/* Set general styling of the button class */
.button {
    -fx-border-color: Black;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
}

/* Make font size to 10 */
.root {
    -fx-font-size: 10pt;
}
